@import url(http://fonts.googleapis.com/css?family=Rokkitt);

h1 {
    font-family: 'Rokkit', serif;
    text-align: center;
    color: red;
    font-size: 35px;
}

ul {
    list-style: none;
}

li {
    font-family: 'Rokkitt', serif;
    font-size: 2em;
    color: blue;
}

input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}

p {
    font-family: 'Rokkitt', serif;
}

.quizContainer {
    background-color: chartreuse;
    border-radius: 8px;
    width: 75%;
    margin: auto;
    margin-top: 190px;
    padding-top: 5px;
    position: relative;
}

.question {
    font-family: 'Rokkitt', serif;
    font-size: 2em;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: cadetblue;
    text-align: center;
    color: cornflowerblue;
}

.choiceList {
    font-family: courier, serif;
    color: chartreuse;
}

.quizMessage {
    background-color: brown;
    border-radius: 6px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 2px;
    font-family: 'Rokkitt', serif;
    color: white;
}

.result {
    width: 30%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    margin-bottom: 35px;
    text-align: center;
    font-family: 'Rokkitt', serif;
}

.nextButton {
    border-radius: 6px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: silver;
    color: black;
    font-family: 'Rokkitt', serif;
    font-weight: bold;
    position: relative;
    margin: auto;
    padding-top: 20px;
}

